@*<div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/bg-primary.png">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading">Tin Tức</h2>
                    <ul>
                        <li>
                            <a href="#">Home <i class="pe-7s-angle-right"></i></a>
                        </li>
                        <li>Trên 18 tuổi mới được livestream TikTok</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="blog-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-detail-item">
                    <div class="blog-img">
                        <img class="img-full" src="~/assets/images/livestream-tiktok.jpg" alt="Blog Image">
                    </div>
                    <div class="blog-content text-start pb-0">
                        <div class="blog-meta text-dim-gray pb-3">
                            <ul>
                                <li class="date"><i class="fa fa-calendar-o me-2"></i>May 21, 2023</li>
                                <li>
                                    <span class="comments me-3">
                                        <a href="#">2 Comments</a>
                                    </span>
                                    <span class="link-share">
                                        <a href="#">Share</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <h5 class="title mb-4">
                            Trên 18 tuổi mới được livestream TikTok
                        </h5>
                        <p class="short-desc mb-4 mb-7">
                            Tiktok Chuẩn bị cập nhật hệ thống livestream TikTok của mình để giới hạn trẻ em lên sóng, TikTok cũng ra mắt luồng stream dành cho người lớn.
                        </p>
                        <p class="short-desc mb-4 mb-7">
                            Trong một bài blog, TikTok đã công bố một vài thay đổi cho tính năng livestream trên nền tảng này. Hiện tại, bất kỳ ai trên 16 tuổi và có ít nhất 1000 follower đều có thể livestream trên TikTok, và những người dùng trên 18 tuổi có thể gửi và nhận tiền donate – một trong những cách mà các nhà sáng tạo nội dung kiếm tiền trên nền tảng. Nhưng bắt đầu từ ngày 23/11 tới, sẽ chỉ có những người dùng từ 18 tuổi trở lên mới được tổ chức livestream.
                        </p>
                        <div class="single-img">
                            <img class="img-full" src="~/assets/images/image-50.png" alt="Blog Banner">
                        </div>
                        <p class="short-desc mb-4 mb-7">
                            Bên cạnh đó, TikTok cũng sẽ sớm ra mắt tính năng giới hạn tuổi người xem nếu nhà sáng tạo nội dung muốn tập trung vào các nội dung dành cho người lớn. Hiện tại, các livestream sẽ xuất hiện một cách rải rác trên trang For You của người dùng hoặc ở một trang Live Feed riêng người dùng có thể nhấn vào để xem.
                        </p>
                        <p class="short-desc mb-4 mb-7">
                            Theo TikTok, các luồng stream dành cho người lớn có thể được dùng trong các trường hợp như nhà sáng tạo nội dung muốn chia sẻ kinh nghiệm cuộc sống mà không phù hợp với trẻ em.

                            Theo TheVerge, TikTok Live đang dần trở thành một phần cốt lõi trong cách các nhà sáng tạo nội dung sử dụng nền tảng và mang về doanh thu cho công ty. Tuy nhiên, đây cũng là nơi bị nhiều đối tượng khai thác để tuyên truyền tin giả, chẳng hạn như liên quan đến chiến dịch quân sự giữa Nga và Ukraine, hay một trào lưu gần đây là các gia đình tị nạn livestream trên TikTok để xin tiền từ thiện.

                            Ngoài các cập nhật an toàn mới, TikTok còn công bố các công cụ dành cho những người sáng tạo lưu trữ các buổi phát trực tiếp trên nền tảng này. Người sáng tạo hiện có thể phát trực tiếp với tối đa năm khách mời các tùy chọn bố cục khác nhau. TikTok cũng cho biết họ đang cập nhật tính năng lọc từ khóa cho các buổi phát trực tiếp để người dùng có thể gửi cho người tổ chức livestream thêm các từ khóa bị chặn và đề xuất các từ khác mà họ có thể muốn lọc.
                        </p>
                        <p class="short-desc mb-4 mb-7">
                            Nguồn : VnreviewbookKOL 
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>