@model TopTalentWebClient1.ModelView.UserVM
@{
    var txt_username = @Model.Username;
    var txt_fullname = Model.FullName;
    }
    <div class="myaccount-details">
<form asp-controller="Accounts" asp-action="EditUserVM" method="post" class="myaccount-form">
    <div class="myaccount-form-inner">
     <input type="hidden" asp-for="UserId" />
     <div class="single-input single-input-half">
                @txt_fullname
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
     <div class="single-input single-input-half">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
     <div class="single-input-half">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
     <div class="single-input">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
     <div class="single-input">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>                   
     <div class="single-input">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                      <div class="single-input">
                        <button style="background-color:black;  color:white" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">Save Changes
                        </button>
                    </div>
    </div>
            </form>
</div>


