@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout =
           "~/Views/Shared/_Layout.cshtml";
    List<Booking> bookings = ViewBag.listBooking;
    List<Booking> bookingstalent = ViewBag.listBookingTalent;
    TopTalentWebClient1.ModelView.ChangePasswordViewModel changePassword = new TopTalentWebClient1.ModelView.ChangePasswordViewModel();
    TopTalentWebClient1.ModelView.UserVM userVM = new TopTalentWebClient1.ModelView.UserVM();
    TopTalentWebClient1.ModelView.TalentVM talentVM = new TopTalentWebClient1.ModelView.TalentVM();
    var talentId = Context.Session.GetInt32("TalentId");
    var userId = Context.Session.GetInt32("UserId");
}

<img style="width:1900px; height:500px" src="~/assets/images/breadcrumb/bg/bg-primary.png" />
<div class="account-page-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Account Infomation</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Booking List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-logout-tab" asp-controller="Accounts" asp-action="Logout" role="tab" aria-selected="false">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                    <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                        <div class="myaccount-dashboard">
                                Hello <b>@Model.FullName</b>
                                @await Html.PartialAsync("_AccountsInformation",userVM)
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                        <div class="myaccount-orders">
                            <h4 class="small-title">Booking of @Model.FullName</h4>
                            @if(userId != null){
                                @await Html.PartialAsync("_BookingListPartialView.cshtml",bookings)
                            }else if(talentId != null){
                                @await Html.PartialAsync("_BookingTalentListPartialView.cshtml",bookingstalent)
                            }
                           
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                          <h4 class="small-title">Change Password of @Model.FullName</h4>
                          @await Html.PartialAsync("_ChangePasswordPartialView", changePassword)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>