@model TopTalentWebClient1.ModelView.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img style="width:1900px; height:500px" src="~/assets/images/breadcrumb/bg/bg-primary.png" />
<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-10 pt-lg-0" style="margin-left:300px">
                    <form asp-action="Login" method="post" novalidate>
                        <div class="login-form">
                            <h1 class="login-title" style="text-align:center; font-size:30px" >TOP TALENT</h1>
                            <h4 class="login-title" style="text-align:center">LOGIN</h4>
                            <div class="row">

                                <div class="col-md-12">
                                    <label asp-for="Username" class="control-label"></label>
                                    <input asp-for="Username" class="form-control" placeholder="Username" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>


                                <div class="col-12">
                                    <button type="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
