@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="main-content">

    <img style="width:1900px; height:500px" src="~/assets/images/breadcrumb/bg/bg-primary.png" />
    <div class="login-register-area section-space-y-axis-100" style="margin-left:600px">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login-form">
                        <h1 class="login-title" style="text-align:center; font-size:30px">TOP TALENT</h1>
                        <h4 class="login-title" style="text-align:center">CHOOSE TO REGISTER</h4>
                        <div class="row">
                            <label style="text-align:center">Become a KOL/Talent</label>
                            <a class="btn btn-xl-size lg-size btn-secondary btn-primary-hover rounded-0" asp-controller="Accounts" asp-action="RegisterTalent">Become Talent</a>
                            <p> <br /></p>
                            <label style="text-align:center">Booking a KOL </label>
                            <a class="btn btn-xl-size lg-size btn-secondary btn-primary-hover rounded-0" asp-controller="Accounts" asp-action="Register">Become User</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>