<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#fac8c8">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="index.html">
                                <img style="width: 150px" src="~/assets/images/logo/logo-text-black (1).png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">
                            Cung cấp giải pháp KOL Marketing tổng thể cho các nhãn hàng: Từ việc lên kế hoạch chi tiết, Tư vấn lựa chọn KOL phù hợp cho đến việc triển khai và báo cáo chính xác kết quả chiến dịch.
                        </p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    FPT University
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://info@example.com">baolahouse@gmail.com</a>
                                </li>
                                <li>
                                    <i class="pe-7s-headphones"></i>
                                    Hotline: 0961837xxx
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">About</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Chiến dịch</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Kiến thức</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">KOL nổi bật</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Nghề KOL</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Thị trường</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Chính sách</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Fanpage</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Group</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách bảo mật</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Điền khoản sử dụng</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Gửi mail</h3>
                        <p class="short-desc">Mọi thắc mắc vấn đề chúng mình sẽ giải đáp.</p>
                    </div>
                    <div class="widget-form-area">
                        <form class="widget-form" action="#">
                            <input class="input-field" type="email" autocomplete="off" placeholder="Your Email">
                            <div class="button-wrap pt-5">
                                <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Send Mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>